@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow: hidden;
  touch-action: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
